{% extends 'base.html' %}
{% load static %}

{% block css %}
    <script src="{% static 'js/jquery.js' %}"></script>
{% endblock css %}

{% block body %}
<body style="background-image: url(img/tapiz4.jpg); background-color: rbga(255,255,255,0.9);background-blend-mode: overlay;">
    <div align=right><a href="index.html"> inicio></a></div>
    <div>
        <img src="img/giphy.gif" alt="" style="transform: rotate(180deg); height: 100px;">
        <img src="img/giphy.gif" alt="" style="transform: rotate(180deg); height: 100px;" align="right">
    </div>
  
   
    <div><h1><p align=center style="font-size: 40px;">PERROS EN ADOPCION</p></h1></div>
    <p style="text-align: justify ;margin: 50px;"> Lorem ipsum dolor sit amet consectetur adipisicing 
                                                elit. Porro distinctio blanditiis perspiciatis soluta
                                                 ad tenetur sit placeat nostrum. Dolores harum esse, 
                                                 culpa deserunt neque nam repellendus ab! Repellat, 
                                                 nobis possimus?
                                                 Lorem ipsum dolor sit amet consectetur adipisicing 
                                                 elit. Porro distinctio blanditiis perspiciatis soluta
                                                  ad tenetur sit placeat nostrum. Dolores harum esse, 
                                                  culpa deserunt neque nam repellendus ab! Repellat, 
                                                  nobis possimus?
                                                  Lorem ipsum dolor sit amet consectetur adipisicing 
                                                  elit. Porro distinctio blanditiis perspiciatis soluta
                                                   ad tenetur sit placeat nostrum. Dolores harum esse, 
                                                   culpa deserunt neque nam repellendus ab! Repellat, 
                                                   nobis possimus?</p>
    <h2 style="text-align: center; margin: 50px;">Nuestros Perros que buscan familia: </h2>
    
    <form action="{% url 'FILTROC'%}" method="POST">
    {% csrf_token %}
        Filtro por categorias:
        <select name="cboCategoria" id="cboCategoria">
        {% for reg in categorias  %}
            <option>{{reg.nombre}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="filtrar">
    </form>

     <form action="{% url 'FILTROD'%}" method="POST">
    {% csrf_token %}
        Filtro por descripcion:
        <input type="text" name="txtDesc" id="txtDesc">
        <input type="submit" value="filtrar">
    </form>
    <table style="width: 500px; text-align: center; margin-bottom: 50px ;">
    <div style="text-align: center; color: aqua; font-size: xx-large;">{{cantidad}}</div>
    {% for item in mascotas %}
         <tr>
            <td><img src="{{item.imagen.url}}" alt="" width="50%" style="border-radius: 80px;"></td>
            <td><p style="text-align: center;font-size: 34px;">{{item.nombre}}</p></td>
            <td><a href="{% url 'FICHA' item.nombre %}"><p style="text-align: center;font-size: 15px;">ver ficha</p></a></td>
        </tr>
    
    {% endfor %}
       
        
        
    </table>
        
    </table>
    <div>
        <img src="img/giphy.gif" alt="" style="height: 100px;">
        <img src="img/giphy.gif" alt="" style="height: 100px;" align="right">
    </div>
    
    <script>
        $(document).ready(function(){
            $.get("https://api.gael.cloud/general/public/clima/SCQN",function (data) {
           
                var estac = data.Estacion;
                var hora = data.HoraUpdate;
                var temp = data.Temp;
                var hum = data.Humedad;
                var estado = data.Estado;

                $("#estacion").html(estac);
                $("#hora").html(hora);
                $("#temp").html(temp);
                $("#hum").html(hum);
                $("#estado").html(estado);
            })

        });


    </script>

 
   
   
</body>
   
{% endblock body %}
{% block footer %}
<table style="border-color: black; border-width: 10px;">
    <tr>
        <td>Ciudad --</td>
        <td id="estacion"></td>
    </tr>
    <tr>
        <td>hora --</td>
        <td id ="hora"></td>
    </tr>
    <tr>
        <td>Temperatura --</td>
        <td id ="temp"></td>
    </tr>
    <tr>
        <td>Humedad --</td>
        <td id ="hum"></td>
    </tr>
    <tr>
        <td>estado--</td>
        <td id="estado"></td>
    </tr>
    
        
        
</table>
  

{% endblock footer %}


    
</html>